<h1>Edit {{pirate.name}}</h1>

<div>
    <form action="/pirates/{{pirate.id}}?_method=PUT" method="POST">
        <div>
            <label for="name">name:</label>
            <input type="text" name="name" value="{{pirate.name}}">
        </div>
        <div>
            <label for="birthplace">birthplace:</label>
            <input type="text" name="birthplace" value="{{pirate.birthplace}}">
        </div>
        <div>
            <label for="death_year">death_year:</label>
            <input type="text" name="death_year" value="{{pirate.death_year}}">
        </div>
        <div>
            <label for="base">base:</label>
            <input type="text" name="base" value="{{pirate.base}}">
        </div>
        <div>
            <label for="nickname">nickname:</label>
            <input type="text" name="nickname" value="{{pirate.nickname}}">
        </div>
        <div>
            <input type="submit" value="Update Pirate">
        </div>
    </form>
</div>