<h1>{{pirate.name}}</h1>
<h3>birthplace - {{pirate.birthplace}}</h3>
<h3>death year - {{pirate.death_year}}</h3>
<h3>base - {{pirate.base}}</h3>
<h3>nickname - {{pirate.nickname}}</h3>

<a href="/pirates/new">New Pirate</a>

